@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&family=Outfit:wght@300;400;600;900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,400&display=swap');

@theme {
  --font-display: "Syne", sans-serif;
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Outfit", sans-serif;

  --color-accent: #A65236;
  --color-dark: #1A1A1A;
}

@layer base {
  body {
    @apply font-sans;
  }
}
